<a href="https://colab.research.google.com/github/BachirZahaf27/Titanic-Predictor/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nouvelle section

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
import os

In [4]:
os.listdir()

['.config', 'sample_data']

In [5]:
os.listdir("/gdrive/MyDrive")

['S4',
 'Dev-Cpp',
 'eko',
 'Recovery',
 'gta sa',
 'CIB-TECH',
 'MediaID.bin',
 'TP1 EXO4.pdf',
 'Captura de ecrã 2019-10-28, às 15.02.53.png',
 'Informatique ',
 'NotesTest1.pdf',
 'S3 L2',
 '.classpath',
 'main.java',
 'class2.class',
 'class2.java',
 '.project',
 'class1.java',
 'main.class',
 'class3.java',
 'class1.class',
 'class3.class',
 'accordian1.zip',
 'Nouveau document texte.gdoc',
 'bachir.gdoc',
 'Untitled document (1).gdoc',
 'Cycle de vie.gdoc',
 'amine-zouiche-exam.pdf',
 'amine-zouiche-exam.gdoc',
 'edu-1',
 'siteweb',
 'Classroom',
 'cinematheque-v1.xml',
 'cinematheque-v2.xml',
 'cinematheque-v2.dtd',
 'cinematheque-v1.dtd',
 'الجـمـهورية الجـزائـريـة الديـمـقـراطـيـة الشـعـبـيـة.docx',
 'Setup27.zip',
 'Application setup',
 'result.zip',
 'Police ',
 'MI_2018_2019.rar',
 'M1',
 'help.rar',
 'Biblio App',
 'Présentation de interface.mp4',
 'tp1.rar',
 'tp1.zip',
 'Gmail Templates',
 'Emails',
 'Emails - zahafmohamedelbachir@gmail (2).com.gdoc',
 'Emails - zahafmohamedelbachir@gmail (1).com.gdoc',
 'Email exchange with zahafmohamedelbachir@gmail.com.gdoc',
 'Emails - zahafmohamedelbachir@gmail.com.gdoc',
 'TPA-Presentation.rar',
 'Untitled document.gdoc',
 'Projects',
 'Etap02.docx',
 'API',
 'M1 ISI.rar',
 'Event']

In [6]:
import pandas as pd

In [7]:
people = pd.read_csv("/gdrive/MyDrive/train.csv")
test_data = pd.read_csv("/gdrive/MyDrive/test.csv")

FileNotFoundError: ignored

In [ ]:
people

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
men = people.loc[people.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [ ]:
women = people.loc[people.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = people["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(people[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!